.contact {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  row-gap: 0rem;
  align-items: center;
}

.contact__description {
  line-height: 2;
  font-size: var(--font-size-20);
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact__socials {
  display: flex;
  gap: 1rem;
}
.contact__social {
  transition: var(--transition-timing);
}
.contact__social:hover {
  transform: scale(1.2);
}
.contact__inputs {
  display: flex;
  gap: 3rem;
  color: var(--color-text);
}

.contact__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
  padding: 1.2rem 0;
  font-size: 1.8rem;
}

input {
  color: var(--color-text);
}

textarea {
  color: var(--color-text);
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
  line-height: 1.5;
}
.contact__button {
  border: none;
  background-color: var(--color-link-bg);
  color: var(--color-white);
  font-weight: var(--font-weight-semi-bold);
  padding: 1.7rem 1.8rem;
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
}

.form:invalid::after {
  content: "*";
  font-size: var(--font-size-38);
  color: var(--color-red);
}
