.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}

.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1 rem;
}

.skills__filter {
  grid-column: 1/-1;
  margin-top: -8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.skills__button {
  border: 1px solid var(--color-text);
  border-radius: 0.4rem;
  padding: 0.2rem 1rem;
  font-size: var(--font-size-20);
}

.skills__button--active {
  background-color: var(--color-text);
  color: var(--color-background);
}

.skills__item {
  transition: var(--transition-timing);
  user-select: none;
}

.skills__item:hover {
  text-shadow: 0 0 2px var(--color-green);
}
